[Unit]
Description=demo fastapi network hosted on aws ec2
After=network.target

[Service]
User=shubhendu
Group=shubhendu
WorkingDirectory=/home/shubhendu/fastapi_app/src
Environment="PATH=/home/shubhendu/fastapi_app/venv/bin
EnvironmentFile=/home/shubhendu/.env
ExecStart=/home/shubhendu/fastapi_app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8080

[Install]
WantedBy=multi-user.target

